@media screen and (max-width: 1405px) {
  .part4_section {
    flex-direction: column;
    align-items: center;
    gap: 46px;
  }
}

@media screen and (max-width: 1300px) {
  .carusel_title {
    font-size: 30px;
    line-height: 50px;
  }
  .nav-list {
    gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .info_image {
    width: 100%;
  }
  .carusel {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .info {
    flex-direction: column-reverse;
  }
  .nav-list {
    display: none;
  }
  .carusel_desc {
    font-size: 18px;
  }

  .title_mid {
    font-size: 30px;
    line-height: 30px;
  }
  .btn_ham {
    display: block;
  }
  .card_info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feature {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .propos_feature {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .feature_info {
    width: 100%;
    align-items: center;
  }
  .feature_title {
    font-size: 30px;
    line-height: 40px;
  }
  .part6_section {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .logo_title {
    display: none;
  }
  .feature_title {
    font: size 24px;
    text-align: center;
  }
  .title_card {
    padding: 10px 0;
  }
  .feature_info {
    text-align: center;
  }
  .part4_section_members {
    width: 100%;
    height: 100%;
  }
  .part4_section_desc {
    width: 100%;
  }
  .aplicants_name {
    width: 100%;
  }
  .aplicant_card {
    width: 100%;
  }
  .feature_info {
    width: 100%;
  }
  .part4_section {
    padding: 0;
  }
  .members_widget {
    width: 100%;
  }
  .proposal_widget {
    width: 100%;
  }
  .cards_intro {
    width: 100%;
  }
  .part6_cards {
    width: 100%;
  }
  .part6_section {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .part4_desc_2 {
    width: 100%;
  }
}
